 ## Data Types

In [3]:
# Text data type
# it is called strings in python
'hello';
"world"

'world'

In [6]:
address = '''
 17, Akerele Street oworonshoki,
 gbagada,
 Lagos
'''

print(address)

 17, Akerele Street oworonshoki,
 gbagada,
 Lagos

## SLICING STRINGS

In [10]:
#taking a subset of an array
# array is collection of characters
name = 'David'
name[0:4]

'Davi'

In [12]:
s = 'Happy birthday'
s[0:5]

'Happy'

In [13]:
s[6:]

'birthday'

## Concatenating Strings

In [20]:
a = 'Happy'
b = 'New Month'
# another way to do it, result = a + ' ' + b, then print(result)
print(a, b)

Happy New Month

### Numeric data type

In [24]:
# creating variable to define the data type

x = 10
y = 3.142
z = 1j

print(type(x))

<class 'int'>

In [25]:
print(type(y))

<class 'float'>

In [26]:
print(type(z))

<class 'complex'>

In [28]:
# convert integer to complex data type
x_conv = complex(x)
print(x_conv)

(10+0j)

In [29]:
# convert from float to integer
y_conv = int(y)
print(y_conv)

3

## DATA STRUCTURES

### List

In [46]:
# A list in python is an ordered collect of items in a square brackets, items are seprated by comma

thisList = ["Cherry", "Tomatoes", "Berries"]
thisList.append("Mangoes")
thisList.extend(nameOfCustomers)
print(thisList)

['Cherry', 'Tomatoes', 'Berries', 'Mangoes', 'chinenye', 'Dozie', 'Onyinye', 'Dozie jnr']

In [41]:
nameOfCustomers = ["chinenye", "Dozie", "Onyinye","Dozie jnr"]

print(nameOfCustomers)

['chinenye', 'Dozie', 'Onyinye', 'Dozie jnr']

### Assesing List Elements

In [47]:
thisList[2:7]

['Berries', 'Mangoes', 'chinenye', 'Dozie', 'Onyinye']

## Add items to Lists

In [48]:

#APPEND METHOD

# thisList.append()

In [65]:
#Insert Method ; declare where you want to insert the item in the list

thisList.insert(0,'Oranges')
print(thisList)

['Oranges', "'Oranges', 'strawberries'", "'Oranges', 'strawberries'", 'Cherry', 'Tomatoes', 'Berries', 'Mangoes', 'chinenye', 'Dozie', 'Onyinye', 'Dozie jnr']

## Removing items from the lists

In [66]:
#remove method

thisList.remove('Oranges')
print(thisList)

["'Oranges', 'strawberries'", "'Oranges', 'strawberries'", 'Cherry', 'Tomatoes', 'Berries', 'Mangoes', 'chinenye', 'Dozie', 'Onyinye', 'Dozie jnr']

In [67]:
thisList.pop(6)

'chinenye'

In [68]:
print(thisList)

["'Oranges', 'strawberries'", "'Oranges', 'strawberries'", 'Cherry', 'Tomatoes', 'Berries', 'Mangoes', 'Dozie', 'Onyinye', 'Dozie jnr']

In [70]:
# clear method deletes everyting in the list
thisList.clear()
print(thisList)

[]

## Sorting a List

In [75]:
thisList = ["Cherry", "Tomatoes", "Berries"]
#to sort from the back
thisList.sort(reverse = True)
print(thisList)

['Tomatoes', 'Cherry', 'Berries']





# TUPLE

In [76]:
# Tuple is a collection of items, just like List. However, it is immutable, which means once you create a tuple, you can't alter it
#They are denoted by parenthesis, and items are separated by commas
# it is use to store data that cannot change eg. coordinates 
thisTuple = ("apple", "Berries", "cherry")
print(thisTuple)

('apple', 'Berries', 'cherry')

In [ ]:
coordinates = (1.11, 2.3444)

### Assessing items in a tuple

In [77]:
carBrand = ('BMW', 'Toyota', 'Honda', 'Volkswagen', 'Mercedes-Benz')
carBrand[4]

'Mercedes-Benz'



## Updating a tuple

In [79]:
#convert the tuple to a list
carBrand = ('BMW', 'Toyota', 'Honda', 'Volkswagen', 'Mercedes-Benz')

carBrand_conv = list(carBrand)

#add item to the converted list

carBrand_conv.insert(0, 'Maybach')

#convert list back to tuple

carBrand = tuple(carBrand_conv)
print(carBrand)

('Maybach', 'BMW', 'Toyota', 'Honda', 'Volkswagen', 'Mercedes-Benz')



## Join Tuples

In [81]:
fruit1 = ('Apple', 'Tomatoes', 'Banana')
fruit2 = ('Mangoes', 'Cherry')

fruit_merged = fruit1 + fruit2
print(fruit_merged)

('Apple', 'Tomatoes', 'Banana', 'Mangoes', 'Cherry')




# Dictionaries

In [88]:
# dictionary is an unordered collection of key-value pairs.
#it uses key to assess items/valuesinstead of indexes like in list and tuple
# denoted in curly braces{}
#dicts are mutable
#cannot assign one keyname to two dufferent values

carBrand = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1994
}
print(carBrand)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1994}

## Accessing dictionary items

In [107]:
# using get() method

carBrand.get("model")

'Mustang'

In [106]:
# using keys() method 
carBrand.keys()

dict_keys(['brand', 'model', 'year'])

In [105]:
# using values() method

carBrand.values()

dict_values(['Ford', 'Mustang', 1994])

In [103]:
# using items()method 
carBrand.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1994)])



## Adding Items to dictionary

In [111]:
# to add item to the dictionary

carBrand["Country of Origin"] = "USA"

carBrand.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1994), ('Country of Origin', 'USA')])

In [114]:
# using update() function to add an item

carBrand.update({'colour' : 'Red'})
carBrand.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1994), ('Country of Origin', 'USA'), ('colour', 'Red')])




## Removing items from a dictionary

In [115]:
# using pop() method
carBrand.pop("colour")

'Red'

In [116]:
carBrand.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1994), ('Country of Origin', 'USA')])

In [117]:
# using popitem()method

carBrand.popitem()

('Country of Origin', 'USA')





## Project 2

Create an initial tuple that contains a collection of items of your choice.
This tuple represents the starting point for the project.Add items to the tuple

In [124]:
mySiblings = ('Odinaka', 'Nwanneka', 'Ngozi', 'Chimdalu', 'Chinaecherem')

#to add an item to the tuple, i have to cast it as list, add the item and reconvert to tuple

mySiblings_conv = list(mySiblings)

mySiblings_conv.append('Onyinyechukwu')

mySiblings = tuple(mySiblings_conv)

print(mySiblings)

('Odinaka', 'Nwanneka', 'Ngozi', 'Chimdalu', 'Chinaecherem', 'Onyinyechukwu')